---
layout: default
---

<style>
  .post-image{
    width: 100px;
    height: 100px;
    border-radius: 5%;
  }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">

      {%- for post in site.posts -%}
      <li class="post-item">

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        <a class="post-link" href="{{ post.url | relative_url }}">
          <img class="post-image"src="{{ post.image }}" alt="Image not available">
          <div class="post-presentation-data">
            <h5 class="title">{{ post.title | escape }}</h5>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </div>
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
